Source: se3-raduis
Section: unknown
Priority: extra
Maintainer: Franck <franck.molle@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/se3-raduis.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/se3-raduis.git;a=summary

Package: se3-raduis
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
